//*****************BUTTON2*************************
button2
	.container
		.row
			.btn-toolbar
				.btn-group.btn-group-lg
					a.btn.btn-success(href="#")
						i.fa.fa-spinner
					a.btn.btn-success(href="#")
						i.fa.fa-file
					a.btn.btn-success(href="#")
						i.fa.fa-download
				.btn-group.btn-group-lg
					a.btn.btn-success(href="#")
						i.fa.fa-spinner
					a.btn.btn-success(href="#")
						i.fa.fa-file
					a.btn.btn-success(href="#")
						i.fa.fa-download
				.btn-group.btn-group-lg
					a.btn.btn-success(href="#")
						i.fa.fa-spinner
					a.btn.btn-success(href="#")
						i.fa.fa-file
					a.btn.btn-success(href="#")
						i.fa.fa-download
			br
			.btn-toolbar
				.btn-group.btn-group-justified
					a.btn.btn-success(href="#")
						i.fa.fa-spinner
					a.btn.btn-success(href="#")
						i.fa.fa-file
					a.btn.btn-success(href="#")
						i.fa.fa-download
			br
			.btn-group.btn-group-vertical
				a.btn.btn-success(href="#")
					i.fa.fa-spinner
				a.btn.btn-success(href="#")
					i.fa.fa-file
				a.btn.btn-success(href="#")
					i.fa.fa-download
			.btn-group
				button.btn.btn-success Выпадающее меню
				button.btn.btn-success.dropdown-toggle(data-toggle="dropdown")
					span.caret
				ul.dropdown-menu.dropdown-menu-right
					li: a(href="#") Ссылка Ссылка Ссылка Ссылка
					li: a(href="#") Ссылка Ссылка Ссылка Ссылка
					li: a(href="#") Ссылка Ссылка Ссылка Ссылка
					li: a(href="#") Ссылка Ссылка Ссылка Ссылка
					li: a(href="#") Ссылка Ссылка Ссылка Ссылка