.modal.fade#modal-1
	.modal-dialog.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal")
					i.fa.fa-close
				h4.modal-title Название окна
			.modal-body
				p Это модальное окно
			.modal-footer
				button.btn.btn-danger(type="button" data-dismiss="modal-1") Отмена
				
