//************* SLAIDER ***************
slide
	.carousel.slide#carousel
		ol.carousel-indicators
			li.active(data-target="#carousel" data-slide-to="0")
			li(data-target="#carousel" data-slide-to="1")
			li(data-target="#carousel" data-slide-to="2")
		.carousel-inner
			.item.active
				img(src="../img/love.jpg" alt="")
				.carousel-caption
					h3 Первый слайд
					p Описание первого слайда
			.item
				img(src="../img/love.jpg" alt="")
				.carousel-caption
					h3 Второй слайд
					p Описание второго слайда
			.item
				img(src="../img/love.jpg" alt="")
				.carousel-caption
					h3 Третий слайд
					p Описание третьего слайда
		a.left.carousel-control(href="#carousel" data-slide="prev")
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(href="#carousel" data-slide="next")
			span.glyphicon.glyphicon-chevron-right
//************* END SLAIDER ***************