//*****************Vkladki*************************
.container
	.row
		.col-md-6
			br
			.tabs
				ul.nav.nav-tabs
					li.active: a(href="#tab-1" data-toggle="tab") Вкладка 1
					li: a(href="#tab-2" data-toggle="tab") Вкладка 2
					li: a(href="#tab-3" data-toggle="tab") Вкладка 3
				.tab-content
					.tab-pane.fade.in.active#tab-1
						p Параграф с текстом 1
					.tab-pane.fade#tab-2
						p Параграф с текстом 2
					.tab-pane.fade#tab-3
						p Параграф с текстом 3
		.col-md-6
			a.btn.btn-primary.spoiler.collapsed(href="#spoiler-1" data-toggle="collapse") Спойлер
			.collapse#spoiler-1
				.well
					p Параграф с текстом

		
