meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
link(href="../app/vendor/bootstrap/bootstrap.css", type="text/css", rel="stylesheet")
link(href="../app/style.css", type="text/css", rel="stylesheet")
link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
