//************* HEADER ***************
header
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button(type="button" data-toggle="collapse" data-target="#responsive-menu").navbar-toggle
					span.sr-only
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#") Логотип
			.collapse.navbar-collapse#responsive-menu
				ul.nav.navbar-nav
					li: a(href="#") Пункт1
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown" href="#") Пункт2
							b.caret
						ul.dropdown-menu
							li: a(href="#") Пункт1
							li: a(href="#") Пункт2
							li: a(href="#") Пункт3
							li: a(href="#") Пункт4
					li: a(href="#") Пункт3
					li: a(href="#") Пункт4
				form.navbar-form.navbar-right.hidden-sm(action="")
					.form-group
						input.form-control(type="text" placeholder="E-mail" value="")
					.form-group
						input.form-control(type="text" placeholder="Пароль" value="")
					button.btn.btn-primary(type="submit")
						i.fa.fa-sign-in
						=" " 
						ВОЙТИ
//************* END HEADER ***************							