//*****************BUTTON1*************************
button1
	.container
		.row
			h1 Название сайта
			p
				a.btn.btn-default(href="#")
					i.fa.fa-spinner.fa-spin
				=" "
				a.btn.btn-primary(href="#") Кнопка 
				=" "
				a.btn.btn-success(href="#") Кнопка
				=" "
				a.btn.btn-warning(href="#") Кнопка
				=" "
				a.btn.btn-info(href="#") Кнопка
				=" "
				a.btn.btn-danger(href="#") Кнопка
				=" "
				a.btn.btn-link(href="#") Кнопка
			p
				a.btn.btn-primary.btn-lg(href="#") Кнопка
				=" "
				a.btn.btn-primary(href="#") Кнопка
				=" "
				a.btn.btn-primary.btn-sm(href="#") Кнопка
				=" "
				a.btn.btn-primary.btn-xs(href="#") Кнопка
			p
				a.btn.btn-primary.btn-lg.btn-block.active(href="#") Кнопка
				=" "
				a.btn.btn-primary.btn-lg.btn-block.disabled(href="#") Кнопка
