//*****************AKKORDEON**********************
.container
	.row
		.col-md-6
			.panel-group#accordion
				.panel.panel-success
					.panel-heading
						h4.panel-title
							a(href="#collapse-1" data-parent="#accordion" data-toggle="collapse") Октрыть 1-й слайд
					.panel-collapse.collapse.in#collapse-1
						.panel-body
							p Любой контент Любой контент Любой контент Любой контент Любой контент
				.panel.panel-primary
					.panel-heading
						h4.panel-title
							a(href="#collapse-2" data-parent="#accordion" data-toggle="collapse") Октрыть 2-й слайд
					.panel-collapse.collapse#collapse-2
						.panel-body
							p Любой контент Любой контент Любой контент Любой контент Любой контент
				.panel.panel-danger
					.panel-heading
						h4.panel-title
							a(href="#collapse-3" data-parent="#accordion" data-toggle="collapse") Октрыть 3-й слайд
					.panel-collapse.collapse#collapse-3
						.panel-body
							p Любой контент Любой контент Любой контент Любой контент Любой контент
		.col-md-6
			button.btn.btn-success(type="button" data-toggle="modal" data-target="#modal-1") Открыть модальное окно
		include  /blocks/modal/modal.jade
			